* {
  box-sizing: border-box;
}

html {
  background-color: $costie-blue;
  overflow-x: hidden;
}

%main-background {
  background: -webkit-repeating-linear-gradient($costie-black, $costie-black 50%, $costie-blue 50%, $costie-blue 100%);
  background: -o-repeating-linear-gradient($costie-black, $costie-black 50%, $costie-blue 50%, $costie-blue 100%);
  background: -moz-repeating-linear-gradient($costie-black, $costie-black 50%, $costie-blue 50%, $costie-blue 100%);
  background: repeating-linear-gradient($costie-black, $costie-black 50%, $costie-blue 50%, $costie-blue 100%);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $costie-font;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @extend %main-background;
}

.app {
  width: 100vw;
  min-height: 100vh;
  padding: 25px 0;
  position: absolute;

  @extend %main-background;

  // MUI Theme overwrites
  label[class*="MuiFormLabel-focused"] {
    color: $costie-blue-darker;
  }

  div[class*="MuiInput-underline-"]:after {
    border-bottom: 2px solid $costie-blue;
  }
}
