.app {
  .costie-form {
    width: 100%;

    &:first-of-type {
      margin-top: 40px;
    }

    &:not(:first-of-type) {
      margin-top: 15px;
    }

    .timer {
      color: $costie-grey;
      margin: 10px 0 1rem 0;
    }

    .hidden {
      display: none;
    }
  }

  label {
    color: $costie-black;
    transform: translate(0, 1.5px) scale(0.85);
    margin-bottom: 5px;
  }

  button {
    background-color: $costie-black;
    color: $costie-white;
    margin-top: 50px;
  }
}
